sentiment_bk2/src/main/resources/DocsAnalyticDataSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="collection" type="collAnalyticData"/>

  <xs:element name="collections" type="collsAnalyticData"/>

  <xs:element name="document" type="docAnalyticData"/>

  <xs:element name="documents" type="docsAnalyticData"/>

  <xs:element name="statistics" type="statistics"/>

  <xs:element name="status" type="serviceStatus"/>

  <xs:element name="subscription" type="subscription"/>

  <xs:complexType name="relationEntity">
    <xs:sequence>
      <xs:element name="entity_type" type="xs:string" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="location">
    <xs:sequence>
      <xs:element name="index" type="xs:int" minOccurs="0"/>
      <xs:element name="length" type="xs:int" minOccurs="0"/>
      <xs:element name="offset" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="collsAnalyticData" final="extension restriction">
    <xs:sequence>
      <xs:element ref="collection" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="collAnalyticData">
    <xs:sequence>
      <xs:element name="config_id" type="xs:string" minOccurs="0"/>
      <xs:element name="entities" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entity" type="collEntity" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="facets" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="facet" type="facet" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="taskStatus" minOccurs="0"/>
      <xs:element name="summary" type="xs:string" minOccurs="0"/>
      <xs:element name="tag" type="xs:string" minOccurs="0"/>
      <xs:element name="themes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="theme" type="collTheme" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="topics" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="topic" type="collTopic" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="collEntity">
    <xs:sequence>
      <xs:element name="count" type="xs:int" minOccurs="0"/>
      <xs:element name="entity_type" type="xs:string" minOccurs="0"/>
      <xs:element name="label" type="xs:string" minOccurs="0"/>
      <xs:element name="mentions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mention" type="mention" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="negative_count" type="xs:int" minOccurs="0"/>
      <xs:element name="neutral_count" type="xs:int" minOccurs="0"/>
      <xs:element name="positive_count" type="xs:int" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mention">
    <xs:sequence>
      <xs:element name="is_negated" type="xs:boolean" minOccurs="0"/>
      <xs:element name="label" type="xs:string" minOccurs="0"/>
      <xs:element name="locations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="location" type="location" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="negating_phrase" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="facet">
    <xs:sequence>
      <xs:element name="attributes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="attribute" type="attribute" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="count" type="xs:int" minOccurs="0"/>
      <xs:element name="label" type="xs:string" minOccurs="0"/>
      <xs:element name="mentions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mention" type="mention" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="negative_count" type="xs:int" minOccurs="0"/>
      <xs:element name="neutral_count" type="xs:int" minOccurs="0"/>
      <xs:element name="positive_count" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="attribute">
    <xs:sequence>
      <xs:element name="count" type="xs:int" minOccurs="0"/>
      <xs:element name="label" type="xs:string" minOccurs="0"/>
      <xs:element name="mentions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mention" type="mention" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="collTheme">
    <xs:sequence>
      <xs:element name="mentions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mention" type="mention" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="phrases_count" type="xs:int" minOccurs="0"/>
      <xs:element name="sentiment_polarity" type="xs:string" minOccurs="0"/>
      <xs:element name="sentiment_score" type="xs:float" minOccurs="0"/>
      <xs:element name="themes_count" type="xs:int" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="collTopic">
    <xs:sequence>
      <xs:element name="hitcount" type="xs:int" minOccurs="0"/>
      <xs:element name="sentiment_polarity" type="xs:string" minOccurs="0"/>
      <xs:element name="sentiment_score" type="xs:float" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="opinion">
    <xs:sequence>
      <xs:element name="quotation" type="xs:string" minOccurs="0"/>
      <xs:element name="sentiment_polarity" type="xs:string" minOccurs="0"/>
      <xs:element name="sentiment_score" type="xs:float" minOccurs="0"/>
      <xs:element name="speaker" type="xs:string" minOccurs="0"/>
      <xs:element name="topic" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="word">
    <xs:sequence>
      <xs:element name="is_negated" type="xs:boolean" minOccurs="0"/>
      <xs:element name="sentiment_score" type="xs:float" minOccurs="0"/>
      <xs:element name="stemmed" type="xs:string" minOccurs="0"/>
      <xs:element name="tag" type="xs:string" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="docEntity" final="extension restriction">
    <xs:sequence>
      <xs:element name="confident" type="xs:boolean" minOccurs="0"/>
      <xs:element name="entity_type" type="xs:string" minOccurs="0"/>
      <xs:element name="evidence" type="xs:int" minOccurs="0"/>
      <xs:element name="is_about" type="xs:boolean" minOccurs="0"/>
      <xs:element name="label" type="xs:string" minOccurs="0"/>
      <xs:element name="mentions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mention" type="mention" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sentiment_polarity" type="xs:string" minOccurs="0"/>
      <xs:element name="sentiment_score" type="xs:float" minOccurs="0"/>
      <xs:element name="themes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="theme" type="docTheme" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="docTheme" final="extension restriction">
    <xs:sequence>
      <xs:element name="evidence" type="xs:int" minOccurs="0"/>
      <xs:element name="is_about" type="xs:boolean" minOccurs="0"/>
      <xs:element name="mentions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mention" type="mention" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sentiment_polarity" type="xs:string" minOccurs="0"/>
      <xs:element name="sentiment_score" type="xs:float" minOccurs="0"/>
      <xs:element name="strength_score" type="xs:float" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="docTopic" final="extension restriction">
    <xs:sequence>
      <xs:element name="hitcount" type="xs:int" minOccurs="0"/>
      <xs:element name="sentiment_polarity" type="xs:string" minOccurs="0"/>
      <xs:element name="sentiment_score" type="xs:float" minOccurs="0"/>
      <xs:element name="strength_score" type="xs:float" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="docsAnalyticData" final="extension restriction">
    <xs:sequence>
      <xs:element ref="document" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="docAnalyticData" final="extension restriction">
    <xs:sequence>
      <xs:element name="auto_categories" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="category" type="docCategory" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="config_id" type="xs:string" minOccurs="0"/>
      <xs:element name="details" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sentence" type="sentence" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="entities" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entity" type="docEntity" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="language" type="xs:string" minOccurs="0"/>
      <xs:element name="language_score" type="xs:float" minOccurs="0"/>
      <xs:element name="opinions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="opinion" type="opinion" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="phrases" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="phrase" type="docPhrase" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="relations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="relation" type="relation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sentiment_polarity" type="xs:string" minOccurs="0"/>
      <xs:element name="sentiment_score" type="xs:float" minOccurs="0"/>
      <xs:element name="source_text" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="taskStatus" minOccurs="0"/>
      <xs:element name="summary" type="xs:string" minOccurs="0"/>
      <xs:element name="tag" type="xs:string" minOccurs="0"/>
      <xs:element name="themes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="theme" type="docTheme" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="topics" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="topic" type="docTopic" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="docCategory" final="extension restriction">
    <xs:sequence>
      <xs:element name="categories" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="category" type="docCategory" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="strength_score" type="xs:float" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sentence">
    <xs:sequence>
      <xs:element name="is_imperative" type="xs:boolean" minOccurs="0"/>
      <xs:element name="is_polar" type="xs:boolean" minOccurs="0"/>
      <xs:element name="words" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="word" type="word" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="docPhrase">
    <xs:sequence>
      <xs:element name="is_negated" type="xs:boolean" minOccurs="0"/>
      <xs:element name="negating_phrase" type="xs:string" minOccurs="0"/>
      <xs:element name="sentiment_polarity" type="xs:string" minOccurs="0"/>
      <xs:element name="sentiment_score" type="xs:float" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="relation">
    <xs:sequence>
      <xs:element name="confidence_score" type="xs:float" minOccurs="0"/>
      <xs:element name="entities" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entity" type="relationEntity" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="extra" type="xs:string" minOccurs="0"/>
      <xs:element name="relation_type" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serviceStatus">
    <xs:sequence>
      <xs:element name="api_version" type="xs:string" minOccurs="0"/>
      <xs:element name="service_status" type="xs:string" minOccurs="0"/>
      <xs:element name="service_version" type="xs:string" minOccurs="0"/>
      <xs:element name="supported_compression" type="xs:string" minOccurs="0"/>
      <xs:element name="supported_encoding" type="xs:string" minOccurs="0"/>
      <xs:element name="supported_languages" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="language" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="statistics">
    <xs:sequence>
      <xs:element name="calls_data" type="xs:long" minOccurs="0"/>
      <xs:element name="calls_system" type="xs:long" minOccurs="0"/>
      <xs:element name="colls_documents" type="xs:long" minOccurs="0"/>
      <xs:element name="colls_failed" type="xs:long" minOccurs="0"/>
      <xs:element name="colls_processed" type="xs:long" minOccurs="0"/>
      <xs:element name="colls_responded" type="xs:long" minOccurs="0"/>
      <xs:element name="configurations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="configuration" type="details" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="docs_failed" type="xs:long" minOccurs="0"/>
      <xs:element name="docs_processed" type="xs:long" minOccurs="0"/>
      <xs:element name="docs_responded" type="xs:long" minOccurs="0"/>
      <xs:element name="latest_used_app" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="overall_batches" type="xs:long" minOccurs="0"/>
      <xs:element name="overall_calls" type="xs:long" minOccurs="0"/>
      <xs:element name="overall_colls" type="xs:long" minOccurs="0"/>
      <xs:element name="overall_docs" type="xs:long" minOccurs="0"/>
      <xs:element name="overall_exceeded" type="xs:long" minOccurs="0"/>
      <xs:element name="overall_texts" type="xs:long" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
      <xs:element name="used_apps" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="details">
    <xs:sequence>
      <xs:element name="calls_data" type="xs:long" minOccurs="0"/>
      <xs:element name="calls_system" type="xs:long" minOccurs="0"/>
      <xs:element name="colls_documents" type="xs:long" minOccurs="0"/>
      <xs:element name="colls_failed" type="xs:long" minOccurs="0"/>
      <xs:element name="colls_processed" type="xs:long" minOccurs="0"/>
      <xs:element name="colls_responded" type="xs:long" minOccurs="0"/>
      <xs:element name="config_id" type="xs:string" minOccurs="0"/>
      <xs:element name="docs_failed" type="xs:long" minOccurs="0"/>
      <xs:element name="docs_processed" type="xs:long" minOccurs="0"/>
      <xs:element name="docs_responded" type="xs:long" minOccurs="0"/>
      <xs:element name="latest_used_app" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="overall_batches" type="xs:long" minOccurs="0"/>
      <xs:element name="overall_calls" type="xs:long" minOccurs="0"/>
      <xs:element name="overall_colls" type="xs:long" minOccurs="0"/>
      <xs:element name="overall_docs" type="xs:long" minOccurs="0"/>
      <xs:element name="overall_texts" type="xs:long" minOccurs="0"/>
      <xs:element name="overall_exceeded" type="xs:long" minOccurs="0"/>
      <xs:element name="used_apps" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subscription">
    <xs:sequence>
      <xs:element name="basic_settings" type="basicSettings" minOccurs="0"/>
      <xs:element name="billing_settings" type="billingSettings" minOccurs="0"/>
      <xs:element name="feature_settings" type="featureSettings" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="basicSettings">
    <xs:sequence>
      <xs:element name="auto_response_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="batch_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="blacklist_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="callback_batch_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="categories_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="category_samples_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="characters_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="collection_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="configurations_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="entities_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="output_data_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="processed_batch_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="queries_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="return_source_text" type="xs:boolean" minOccurs="0"/>
      <xs:element name="sentiment_limit" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="billingSettings">
    <xs:sequence>
      <xs:element name="calls_balance" type="xs:long" minOccurs="0"/>
      <xs:element name="calls_limit" type="xs:long" minOccurs="0"/>
      <xs:element name="calls_limit_interval" type="xs:int" minOccurs="0"/>
      <xs:element name="docs_balance" type="xs:long" minOccurs="0"/>
      <xs:element name="docs_limit" type="xs:long" minOccurs="0"/>
      <xs:element name="docs_limit_interval" type="xs:int" minOccurs="0"/>
      <xs:element name="docs_suggested" type="xs:long" minOccurs="0"/>
      <xs:element name="docs_suggested_interval" type="xs:int" minOccurs="0"/>
      <xs:element name="expiration_date" type="xs:long" minOccurs="0"/>
      <xs:element name="limit_type" type="xs:string" minOccurs="0"/>
      <xs:element name="priority" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="featureSettings">
    <xs:sequence>
      <xs:element name="collection" type="collection" minOccurs="0"/>
      <xs:element name="document" type="document" minOccurs="0"/>
      <xs:element name="html_processing" type="xs:boolean" minOccurs="0"/>
      <xs:element name="supported_languages" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="collection">
    <xs:sequence>
      <xs:element name="concept_topics" type="xs:boolean" minOccurs="0"/>
      <xs:element name="mentions" type="xs:boolean" minOccurs="0"/>
      <xs:element name="facets" type="xs:boolean" minOccurs="0"/>
      <xs:element name="named_entities" type="xs:boolean" minOccurs="0"/>
      <xs:element name="query_topics" type="xs:boolean" minOccurs="0"/>
      <xs:element name="themes" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="document">
    <xs:sequence>
      <xs:element name="auto_categories" type="xs:boolean" minOccurs="0"/>
      <xs:element name="concept_topics" type="xs:boolean" minOccurs="0"/>
      <xs:element name="entity_themes" type="xs:boolean" minOccurs="0"/>
      <xs:element name="language_detection" type="xs:boolean" minOccurs="0"/>
      <xs:element name="mentions" type="xs:boolean" minOccurs="0"/>
      <xs:element name="named_entities" type="xs:boolean" minOccurs="0"/>
      <xs:element name="named_relations" type="xs:boolean" minOccurs="0"/>
      <xs:element name="opinions" type="xs:boolean" minOccurs="0"/>
      <xs:element name="phrases_detection" type="xs:boolean" minOccurs="0"/>
      <xs:element name="pos_tagging" type="xs:boolean" minOccurs="0"/>
      <xs:element name="query_topics" type="xs:boolean" minOccurs="0"/>
      <xs:element name="sentiment_phrases" type="xs:boolean" minOccurs="0"/>
      <xs:element name="summary" type="xs:boolean" minOccurs="0"/>
      <xs:element name="themes" type="xs:boolean" minOccurs="0"/>
      <xs:element name="user_entities" type="xs:boolean" minOccurs="0"/>
      <xs:element name="user_relations" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="taskStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="QUEUED"/>
      <xs:enumeration value="PROCESSED"/>
      <xs:enumeration value="CANCELED"/>
      <xs:enumeration value="FAILED"/>
      <xs:enumeration value="IN_SERVICE"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

